#mapContainer {
  position: absolute;
  height: 80%;
  margin-top: 75px;
  right: 0;
  left: 0;
  bottom: 0
}

.coordOfClick {
  display: "inline-block";
  margin: 12;
  padding: 5;
  background-color: "#404040";
  color: "white";
  font-weight: "bold";
  font-size: 18;
}

#map {
  height: 300px;
}

#Lmap {
  height: 300px;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}


.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.custom-div-icon i.awesome {
  margin: 12px auto;
  font-size: 17px;
}

.btn-orange {
  background-color: "#f8bd57"
}

.btn-green:checked {
  background-color: "#61ABA2"
}